<a href="https://colab.research.google.com/github/AravindKathir2810/AravindKathir2810/blob/main/Membership_Operators_and_For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Membership operators ( in & not in)

print("a" in "Aravind")
print("B"in "Jaipur")
print('a' not in 'Aravind')
print("B" not in "Jaipur")

True
False
False
True

In [2]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(0,101):
  if (i%2)==0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [4]:
for i in range(0,101):
  if i%2!=0:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [7]:
tup=(1,2,3,4,5)
prod=1
for item in tup:
  prod*=item
  print("Product=",prod)

Product= 1
Product= 2
Product= 6
Product= 24
Product= 120

In [5]:
lst=[1,2,3,4,5]
for i in lst:
  print(i)

1
2
3
4
5

In [8]:
for i in range(0,10,3):
  print(i)

0
3
6
9

In [10]:
for count in range(1,10,2):
  print('The count is:' , count)
print("Good bye!")

The count is: 1
The count is: 3
The count is: 5
The count is: 7
The count is: 9
Good bye!

In [11]:
for i in range(9,0,-2):
  print(i)

9
7
5
3
1

In [12]:
for i in range(10,0,-2):
  print(i)

10
8
6
4
2

In [13]:
lst=[10,20,30,40,50,60,70,80,90,100]
for index in range(len(lst)):
  print(lst[index])

10
20
30
40
50
60
70
80
90
100